header: .header {
  padding: 10px 16px;
  background: #2A2F32;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.header .titlescreen, .header .addscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header .addscreen {
  position: absolute;
}
.header .titlescreen.hidden, .header .addscreen.hidden {
  opacity: 0;
  pointer-events: none;
}
